-- Enable UUID generator
CREATE EXTENSION IF NOT EXISTS "pgcrypto";

-- 1. Create the profiles table
CREATE TABLE IF NOT EXISTS public.profiles (
  id UUID REFERENCES auth.users(id) PRIMARY KEY,
  email TEXT NOT NULL,
  full_name TEXT NOT NULL,
  role TEXT NOT NULL,
  expertise TEXT[] DEFAULT '{}',
  avatar_url TEXT,
  is_admin BOOLEAN DEFAULT false,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 2. Enable Row Level Security
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

-- 3. Drop existing policies (if they exist)
DROP POLICY IF EXISTS "Users can view own profile" ON public.profiles;
DROP POLICY IF EXISTS "Users can insert own profile" ON public.profiles;
DROP POLICY IF EXISTS "Users can update own profile" ON public.profiles;
DROP POLICY IF EXISTS "Authenticated users can view all profiles" ON public.profiles;
DROP POLICY IF EXISTS "Authenticated users can manage profiles" ON public.profiles;
DROP POLICY IF EXISTS "Admins can view all profiles" ON public.profiles;
DROP POLICY IF EXISTS "Admins can manage profiles" ON public.profiles;

-- Create new simplified policies
-- Users can view their own profile
CREATE POLICY "Users can view own profile" ON public.profiles
  FOR SELECT USING (auth.uid() = id);

-- Users can insert their own profile (for initial creation)
CREATE POLICY "Users can insert own profile" ON public.profiles
  FOR INSERT WITH CHECK (auth.uid() = id);

-- Users can update their own profile
CREATE POLICY "Users can update own profile" ON public.profiles
  FOR UPDATE USING (auth.uid() = id) WITH CHECK (auth.uid() = id);

-- For now, allow authenticated users to read all profiles (simplified for initial setup)
CREATE POLICY "Authenticated users can view all profiles" ON public.profiles
  FOR SELECT USING (auth.uid() IS NOT NULL);

-- Allow authenticated users to manage profiles (simplified for initial setup)
CREATE POLICY "Authenticated users can manage profiles" ON public.profiles
  FOR ALL USING (auth.uid() IS NOT NULL) WITH CHECK (auth.uid() IS NOT NULL);

-- 4. Auto-update updated_at
CREATE OR REPLACE FUNCTION public.update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ language 'plpgsql';

-- 5. Trigger
DROP TRIGGER IF EXISTS update_profiles_updated_at ON public.profiles;
CREATE TRIGGER update_profiles_updated_at
  BEFORE UPDATE ON public.profiles
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

-- TEAM MEMBERS
CREATE TABLE IF NOT EXISTS public.team_members (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  role text NOT NULL,
  bio text,
  expertise text[] DEFAULT '{}',
  photo text,
  slack text,
  calendly text,
  email text,
  linkedin text,
  created_at timestamptz DEFAULT now()
);
ALTER TABLE public.team_members ENABLE ROW LEVEL SECURITY;
CREATE POLICY "team_members_read" ON public.team_members FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "team_members_write" ON public.team_members FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);

-- KNOWLEDGE ASSETS
CREATE TABLE IF NOT EXISTS public.knowledge_assets (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  title text NOT NULL,
  description text,
  tags text[] DEFAULT '{}',
  last_updated date DEFAULT now(),
  owner text,
  link text
);
ALTER TABLE public.knowledge_assets ENABLE ROW LEVEL SECURITY;
CREATE POLICY "knowledge_assets_read" ON public.knowledge_assets FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "knowledge_assets_write" ON public.knowledge_assets FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);

-- PROJECTS
CREATE TABLE IF NOT EXISTS public.projects (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  client text,
  name text,
  partner text,
  stage text,
  next_milestone text,
  next_date date,
  team jsonb DEFAULT '[]',
  drive text
);
ALTER TABLE public.projects ENABLE ROW LEVEL SECURITY;
CREATE POLICY "projects_read" ON public.projects FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "projects_write" ON public.projects FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);
CREATE POLICY "projects_update" ON public.projects FOR UPDATE USING (auth.uid() IS NOT NULL);

-- WINS / BLOG (supports internal posts and LinkedIn embeds)
CREATE TABLE IF NOT EXISTS public.wins_posts (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  title text NOT NULL,
  content text,
  author text,
  date timestamptz DEFAULT now(),
  image text,
  type text NOT NULL DEFAULT 'internal',
  linkedin_url text,
  excerpt text,
  featured boolean DEFAULT false,
  tags text[] DEFAULT '{}',
  CONSTRAINT wins_posts_type_check CHECK (type IN ('internal','linkedin')),
  CONSTRAINT wins_posts_content_requirement CHECK (
    (type = 'internal' AND content IS NOT NULL)
    OR (type = 'linkedin' AND linkedin_url IS NOT NULL)
  )
);
ALTER TABLE public.wins_posts ENABLE ROW LEVEL SECURITY;
CREATE POLICY "wins_read" ON public.wins_posts FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "wins_write" ON public.wins_posts FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);

-- OOO EVENTS
CREATE TABLE IF NOT EXISTS public.ooo_events (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  person text,
  type text,
  location text,
  start_date date,
  end_date date,
  notes text
);
ALTER TABLE public.ooo_events ENABLE ROW LEVEL SECURITY;
CREATE POLICY "ooo_read" ON public.ooo_events FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "ooo_write" ON public.ooo_events FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);

-- QUICK LINKS
CREATE TABLE IF NOT EXISTS public.quick_links (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  label text,
  description text,
  icon text,
  url text
);
ALTER TABLE public.quick_links ENABLE ROW LEVEL SECURITY;
CREATE POLICY "quick_links_read" ON public.quick_links FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "quick_links_write" ON public.quick_links FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);

-- CLIENT FEEDBACK
CREATE TABLE IF NOT EXISTS public.client_feedback (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  message text NOT NULL,
  client_name text,
  client_email text,
  created_at timestamptz DEFAULT now()
);
ALTER TABLE public.client_feedback ENABLE ROW LEVEL SECURITY;
CREATE POLICY "feedback_read" ON public.client_feedback FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "feedback_write" ON public.client_feedback FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);

-- RESOURCE BOOKINGS
CREATE TABLE IF NOT EXISTS public.resource_bookings (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  resource text,
  start timestamptz,
  "end" timestamptz,
  booked_by text
);
ALTER TABLE public.resource_bookings ENABLE ROW LEVEL SECURITY;
CREATE POLICY "bookings_read" ON public.resource_bookings FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "bookings_write" ON public.resource_bookings FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);

-- POLLS
CREATE TABLE IF NOT EXISTS public.polls (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  question text NOT NULL,
  created_at timestamptz DEFAULT now()
);
ALTER TABLE public.polls ENABLE ROW LEVEL SECURITY;
CREATE POLICY "polls_read" ON public.polls FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "polls_write" ON public.polls FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);

CREATE TABLE IF NOT EXISTS public.poll_options (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  poll_id uuid REFERENCES public.polls(id) ON DELETE CASCADE,
  label text,
  votes integer DEFAULT 0
);
ALTER TABLE public.poll_options ENABLE ROW LEVEL SECURITY;
CREATE POLICY "poll_options_read" ON public.poll_options FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "poll_options_write" ON public.poll_options FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);
CREATE POLICY "poll_options_update" ON public.poll_options FOR UPDATE USING (auth.uid() IS NOT NULL);

CREATE TABLE IF NOT EXISTS public.poll_votes (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  poll_id uuid REFERENCES public.polls(id) ON DELETE CASCADE,
  option_id uuid REFERENCES public.poll_options(id) ON DELETE CASCADE,
  user_id uuid DEFAULT auth.uid(),
  created_at timestamptz DEFAULT now()
);
ALTER TABLE public.poll_votes ENABLE ROW LEVEL SECURITY;
CREATE POLICY "poll_votes_read" ON public.poll_votes FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "poll_votes_write" ON public.poll_votes FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);

CREATE OR REPLACE FUNCTION public.increment_vote(option_id_input uuid)
RETURNS void AS $$
BEGIN
  UPDATE public.poll_options
  SET votes = coalesce(votes, 0) + 1
  WHERE id = option_id_input;
END;
$$ LANGUAGE plpgsql;

-- SAMPLE SEED DATA (safe to re-run with ON CONFLICT DO NOTHING)




INSERT INTO public.ooo_events (id, person, type, location, start_date, end_date, notes) VALUES
  ('ee111111-1111-1111-1111-111111111111','Alex Rivera','OOO','Lisbon','2024-12-12','2024-12-18','Partial availability in evenings.'),
  ('ee222222-2222-2222-2222-222222222222','Priya Desai','Travel','NYC - Client','2024-12-04','2024-12-06','On-site with Helio Bank.')
ON CONFLICT (id) DO NOTHING;

INSERT INTO public.quick_links (id, label, description, icon, url) VALUES
  ('ff111111-1111-1111-1111-111111111111','Proposals Drive','Templates and signed pitch assets','Folder','https://drive.google.com/proposals'),
  ('ff222222-2222-2222-2222-222222222222','Expenses','Submit expenses in 60 seconds','Receipt','https://example.com/expenses'),
  ('ff333333-3333-3333-3333-333333333333','Time Tracking','Toggl workspace','Clock','https://toggl.com/placeholder'),
  ('ff444444-4444-4444-4444-444444444444','VPN','Secure client access','Shield','https://example.com/vpn')
ON CONFLICT (id) DO NOTHING;

INSERT INTO public.client_feedback (id, message, client_name, client_email) VALUES
  ('gg111111-1111-1111-1111-111111111111','Team was responsive and pragmatic. Loved the concise updates.',NULL,NULL)
ON CONFLICT (id) DO NOTHING;

INSERT INTO public.resource_bookings (id, resource, start, "end", booked_by) VALUES
  ('hh111111-1111-1111-1111-111111111111','Room A','2024-12-05T14:00:00Z','2024-12-05T15:00:00Z','Alex Rivera'),
  ('hh222222-2222-2222-2222-222222222222','Laptop 1','2024-12-06T09:00:00Z','2024-12-06T12:00:00Z','Priya Desai')
ON CONFLICT (id) DO NOTHING;

INSERT INTO public.polls (id, question) VALUES
  ('ii111111-1111-1111-1111-111111111111','Best date for the offsite?'),
  ('ii222222-2222-2222-2222-222222222222','Which client gift box?')
ON CONFLICT (id) DO NOTHING;

